<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <i class="fa-solid fa-shop"></i>
          <span class="font-bold">Poli Store</span>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#Start" class="text-sm font-semibold leading-6 text-gray-900"
          >Inicio</a
        >
        <a
          href="#Products"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Productos</a
        >
        <a href="#Us" class="text-sm font-semibold leading-6 text-gray-900"
          >Nosotros</a
        >
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#/login" class="text-sm font-semibold leading-6 text-gray-900">
          Iniciar Sesión <span aria-hidden="true">&rarr;</span>
        </a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="#Start"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Inicio</a
              >
              <a
                href="#Products"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Productos</a
              >
              <a
                href="#Us"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Nosotros</a
              >
            </div>
            <div class="py-6">
              <a
                href="#/login"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Iniciar Sesión</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="relative isolate px-2 pt-14 lg:px-2">
    <div class="mx-auto max-w-7xl py-10 sm:py-10 lg:py-10">
      <!-- Carrousel -->
      <div id="Start">
        <div
          id="carouselExample"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let product of products; index as i"
              [ngClass]="i == 0 ? 'active' : ''"
              class="carousel-item"
            >
              <img
                [src]="product.imgSource"
                class="d-block w-70 h-100 mx-auto"
                [alt]="product.description"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon bg-dark"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon bg-dark"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- Products -->
      <div id="Products">
        <div
          class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
        >
          <h2
            class="text-2xl font-bold tracking-tight text-gray-900 text-center"
          >
            Sección de productos
          </h2>

          <div
            class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
          >
            <div
              *ngFor="let product of products; index as i"
              class="group relative"
            >
              <div class="card" style="width: 18rem">
                <img
                  [src]="product.imgSource"
                  [alt]="product.description"
                  class="card-img-top h-100"
                />
                <div class="card-body">
                  <h1 class="card-title font-bold">{{ product.name }}</h1>
                  <p class="card-text">{{ product.description }}</p>
                  <b> Precio {{ product.price | currency }} </b>
                  <button
                    type="button"
                    class="btn rounded-full border-0 ml-20 font-bold"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#productModal' + i"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="Us"
  class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 shadow-2xl shadow-black"
>
  <img
    src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80"
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center blur-sm"
  />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Sobre Nosotros
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-200">
        ¡Te damos la bienvenida a Poli Store, tu tienda en línea para comprar
        productos de supermercado de forma fácil y rápida! Aquí encontrarás una
        amplia variedad de productos de alta calidad, desde alimentos frescos
        hasta artículos de cuidado personal, todo entregado directamente a tu
        puerta. En Poli Store, queremos simplificar tu vida y hacer que tus
        compras en línea sean más cómodas que nunca. Únete a nosotros hoy y
        descubre lo sencillo que puede ser comprar en Poli Store.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <dl
        class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">
            Clientes Nuevos Por Mes
          </dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
            + 900
          </dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">
            Variedad de Productos
          </dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
            19+
          </dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Productos en Oferta</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
            10+
          </dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-300">Alimentos Frescos</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-white">
            100%
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div
  class="relative isolate overflow-hidden bg-blue-900 py-10 sm:py-10 lg:py-10"
>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2"
    >
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
          ¿Quieres ofertas y promociones?
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">
          Regístrate a nuestro resumen de ofertas enviadas semanalmente a tu
          correo, validas por la disponibilidad del producto.
        </p>
        <div class="mt-6 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
            placeholder="Ingresa tu email"
          />
          <button
            type="submit"
            class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >
            Suscribir
          </button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
              />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">Artículos Semanales</dt>
          <dd class="mt-2 leading-7 text-gray-400">
            Recetas, consejos de conservación y preparación de los alimentos y
            mucho mas!.
          </dd>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002"
              />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">No spam</dt>
          <dd class="mt-2 leading-7 text-gray-400">
            Puedes estar tranquilo, la información que te enviaremos no sera
            spam, es totalmente confiable y puedes validar las ofertas en tu
            Poli Store.
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div
    class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6"
    aria-hidden="true"
  >
    <div
      class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  *ngFor="let product of products; index as i"
  [id]="'productModal' + i"
>
  <div class="modal-dialog modal-dialog-centered w-60">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5 font-bold text-center">
          {{ product.name }}
        </h1>
        <button type="button" class="font-bold" data-bs-dismiss="modal">
          X
        </button>
      </div>
      <div class="modal-body border-0">
        <p>{{ product.description }}</p>
        <div class="my-3 mx-auto">
          <span
            *ngIf="product.productOnSale"
            class="mx-auto bg-blue-500 rounded p-1 text-white"
          >
            <i class="fa-solid fa-tags"></i> ¡Producto con 20% off!
          </span>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button
          type="button"
          class="btn btn-success border-0 bg-green-600 mx-auto"
        >
          <i class="fa-solid fa-cart-shopping"></i> Comprar
        </button>
      </div>
    </div>
  </div>
</div>
